* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1080px;
    margin: auto;
    height: 100%;
}

.container::after {
    clear: both;
    display: table;
    content: '';
}

.clearfix::after {
    clear: both;
    display: table;
    content: '';
}

#header-top {
    height: 84px;
    background-color: #f4f8fb;
    border-bottom: 0.5px solid #d2d6d9;
}

#header-top-left {
    width: 50%;
    float: left;
}

#header-top-left a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: 80px;
    padding: 20px;
}

#header-top-left a i {
    font-size: 25px;
    padding-right: 5px;
    position: relative;
    top: 5px;
    color: rgba(0, 0, 0, 0.3)
}
#header-top-left #lingua {
    padding: 5px 20px 5px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

#header-top-right {
    width: 50%;
    height: 100%;
    text-align: right;
    float: left;
}

#header-top-right a {
    text-decoration: none;
    font-size: 13px;
    line-height: 84px;
    margin-right: 7px;
}

#header-top-right i {
    font-size: 18px;
    padding-right: 20px;
    position: relative;
    top: 5px;
    color: #00a4bd;
}

.btn {
    background-color: white;
    border: 1px solid #ff7a59;
    padding: 11px 33px;
    color: #ff7a59;
    border-radius: 5px;
    font-weight: bold;
}

.main_btn {
    background-color: #ff7a59;
    padding: 12px 12px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

#header-bottom {
    height:  90px;
    background-color: #ffffff;
}

#header-bottom-left {
    width: 30%;
    float: left;
}

#header-bottom-left img {
    margin-top: 29px;
}

#header-bottom-right {
    width: 70%;
    float: left;
}

#header-bottom-right i {
    padding-left: 10px;
    color: #7c98b6;
}

#header-bottom-right ul {
    list-style: none;
    text-align: right;
    margin-right: 26px;
}

#header-bottom-right li {
    line-height: 89px;
    display: inline-block;

}

#header-bottom-right a {
    text-decoration: none;
    color: #33475b;
    font-size: 16px;
    font-weight: bold;
    padding-left: 43px;
}


#features {
    background-color: #fff1ee;
    height: 746px;
    box-shadow: inset 1px 7px 17px -4px rgba(0,0,0,0.09);
    background-image: url(img/jumbo_class.png);
    background-size: cover;
    border-bottom: 2px solid #33475b;
}

#features_main {
    width: 35%;
    float: left;
}

#features_main h1 {
    margin-top: 100px;
    font-size: 45px;
    color: #33475b;
    position: relative;
}

#features_main p {
    margin-top: 20px;
    font-size: 16px;
    color: #33475b;
}

.piccolo {
    width: 53%;
}

#features_main .piccolo span {
    font-size: 13px;
}


.features_btn {
    line-height: 130px;
    background-color: #ff7a59;
    padding: 25px 30px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

#features_2 {
    background-color: #f5f8fa;
    height: 800px;
}

#crm {
    width: 30%;
    float: left;
    margin-right: 5%;
    position: relative;
}

#crm h1 {
    margin-top: 100px;
    font-size: 30px;
    color: #33475b;
    position: relative;
}

#crm p {
    margin-top: 20px;
    font-size: 16px;
    color: #33475b;
}

#crm_container {
    border-radius: 2%;
    margin-top: 100px;
    width: 65%;
    background-color: white;
    float: left;
}

#crm_container img {
    margin-top:50px;
    float: left;
    margin-left: 35px;
    margin-right: 10px;
}

#crm_container h3 {
    font-size: 25px;
    color: #33475b;
    margin-top: 44px;
    margin-bottom: 20px;
}

#crm_container p {
    font-size: 13px;
    color: #33475b;
    margin-left: 35px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#crm_container h4 {
    margin-left: 35px;
    color: #33475b;
    margin-bottom: 20px;
    float: left;
}

#crm_container hr {
    margin-top: 42px;
    margin-right: 40px;
    margin-left: 205px;
}


footer {
    background-color: darkblue;
    height: 300px;
}

.fa-globe-europe {
    color: #32475a;
}
