* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1080px;
    margin: auto;
    height: 100%;
}

.container::after {
    clear: both;
    display: table;
    content: '';
}

.clearfix::after {
    clear: both;
    display: table;
    content: '';
}

#header-top {
    height: 84px;
    background-color: #f4f8fb;
    border-bottom: 0.5px solid #d2d6d9;
}

#header-top-left {
    width: 50%;
    float: left;
}

#header-top-left a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: 80px;
    padding: 20px;
}

#header-top-left a i {
    font-size: 25px;
    padding-right: 5px;
    position: relative;
    top: 5px;
    color: rgba(0, 0, 0, 0.3)
}
#header-top-left #lingua {
    padding: 5px 20px 5px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

#header-top-right {
    width: 50%;
    height: 100%;
    text-align: right;
    float: left;
}

#header-top-right a {
    text-decoration: none;
    font-size: 13px;
    line-height: 84px;
    margin-right: 7px;
}

#header-top-right i {
    font-size: 18px;
    padding-right: 20px;
    position: relative;
    top: 5px;
    color: #00a4bd;
}

.btn {
    background-color: white;
    border: 1px solid #ff7a59;
    padding: 11px 33px;
    color: #ff7a59;
    border-radius: 5px;
    font-weight: bold;
}

.main_btn {
    background-color: #ff7a59;
    padding: 12px 12px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

#header-bottom {
    height:  90px;
    background-color: #ffffff;
}

#header-bottom-left {
    width: 30%;
    float: left;
}

#header-bottom-left img {
    margin-top: 29px;
}

#header-bottom-right {
    width: 70%;
    float: left;
}

#header-bottom-right i {
    padding-left: 10px;
    color: #7c98b6;
}

#header-bottom-right ul {
    list-style: none;
    text-align: right;
    margin-right: 26px;
}

#header-bottom-right li {
    line-height: 89px;
    display: inline-block;

}

#header-bottom-right a {
    text-decoration: none;
    color: #33475b;
    font-size: 16px;
    font-weight: bold;
    padding-left: 43px;
}


#features {
    background-color: #fff1ee;
    height: 746px;
    box-shadow: inset 1px 7px 17px -4px rgba(0,0,0,0.09);
    background-image: url(img/jumbo_class.png);
    background-size: cover;
    border-bottom: 2px solid #33475b;
}

#features_main {
    width: 35%;
    float: left;
}

#features_main h1 {
    margin-top: 100px;
    font-size: 45px;
    color: #33475b;
    position: relative;
}

#features_main p {
    margin-top: 20px;
    font-size: 16px;
    color: #33475b;
}

.piccolo {
    width: 53%;
}

#features_main .piccolo span {
    font-size: 13px;
}


.features_btn {
    line-height: 130px;
    background-color: #ff7a59;
    padding-left: 25px;
    padding-right: 30px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

#features_2 {
    background-color: #f5f8fa;
    padding-bottom: 100px;
}

#crm {
    width: 30%;
    float: left;
    margin-right: 5%;
    position: relative;
}

#crm h1 {
    margin-top: 100px;
    font-size: 30px;
    color: #33475b;
    position: relative;
}

#crm p {
    margin-top: 20px;
    font-size: 16px;
    color: #33475b;
}

#crm_container {
    border-radius: 2%;
    margin-top: 100px;
    width: 65%;
    background-color: white;
    float: left;
}

#crm_container img {
    margin-top:50px;
    float: left;
    margin-left: 35px;
    margin-right: 10px;
}

#crm_container h3 {
    font-size: 25px;
    color: #33475b;
    margin-top: 44px;
    margin-bottom: 20px;
}

#crm_container p {
    font-size: 13px;
    color: #33475b;
    margin-left: 35px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#crm_container h4 {
    margin-left: 35px;
    color: #33475b;
    margin-bottom: 20px;
    float: left;
}

#crm_container hr {
    margin-top: 42px;
    margin-right: 40px;
    margin-left: 205px;
    border-top: 0;
}

#crm_container a {
    display: inline-block;
    margin-bottom: 30px;
}

#list_count {
    float: left;
    width: 45%;
}

#list_count2 {
    float: left;
    width: 55%;
}

#list_count i {
    color: #ff7a59;
    padding-right: 5px;
}

#list_count ul {
    list-style: none;
    margin-left: 35px;
}

#list_count li {
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
}

.list_btn {
    margin-left: 59px;
    margin-right: 20px;
    line-height: 30px;
    background-color: #ff7a59;
    padding: 15px 86px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

#list_count_1 {

}

#list_count_2 {

}

#box1 {
    border-radius: 2%;
    margin-top: 50px;
    width: 32%;
    background-color: white;
    float: left;
}

#box1 img {
    margin-top:50px;
    float: left;
    margin-left: 35px;
    margin-right: 10px;
}

#box1 h3 {
    font-size: 25px;
    color: #33475b;
    margin-top: 44px;
    margin-bottom: 20px;
}

#box1 p {
    font-size: 13px;
    color: #33475b;
    margin-left: 35px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#box1 h4 {
    font-size: 15px;
    margin-left: 35px;
    color: #33475b;
    margin-bottom: 20px;
}

#box1 hr {
    margin-top: 50px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 20px;
    border-top: 0;
}

#list_count_1 i {
    color: #ff7a59;
    padding-right: 5px;
    float: left;
}

#list_count_1 ul {
    margin-top: 10px;
    list-style: none;
    margin-left: 35px;
}

#list_count_1 li {
    padding-right: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.list_btn_2 {
    margin-bottom: 30px;
    margin-left: 35px;
    margin-right: 20px;
    background-color: #ff7a59;
    padding: 15px 86px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

#list_count_2 a {
    margin-bottom: 30px;
}

#box2 {
    border-radius: 2%;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 32%;
    background-color: white;
    float: left;
}

#box2 img {
    margin-top:50px;
    float: left;
    margin-left: 35px;
    margin-right: 10px;
}

#box2 h3 {
    font-size: 25px;
    color: #33475b;
    margin-top: 44px;
    margin-bottom: 20px;
}

#box2 p {
    font-size: 13px;
    color: #33475b;
    margin-left: 35px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#box2 h4 {
    font-size: 15px;
    margin-left: 35px;
    color: #33475b;
    margin-bottom: 20px;
}

#box2 hr {
    margin-top: 50px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 20px;
    border-top: 0;
}

#box3 {
    border-radius: 2%;
    margin-top: 50px;
    width: 32%;
    background-color: white;
    float: left;
}

#box3 img {
    margin-top:50px;
    float: left;
    margin-left: 35px;
    margin-right: 10px;
}

#box3 h3 {
    font-size: 25px;
    color: #33475b;
    margin-top: 44px;
    margin-bottom: 20px;
}

#box3 p {
    font-size: 13px;
    color: #33475b;
    margin-left: 35px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#box3 h4 {
    font-size: 15px;
    margin-left: 35px;
    color: #33475b;
    margin-bottom: 20px;
}

#box3 hr {
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 20px;
    border-top: 0;
}

#box-gradient {
    height: 1000px;
    background: rgb(0,166,187);
    background: linear-gradient(90deg, rgba(0,166,187,1) 0%, rgba(0,188,165,1) 100%);
}

#gradient-box {
    width: 65%;
    margin: auto;
    padding-top: 120px;
    text-align: center;
    color: white;
}

#gradient-box h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

#gradient-box p {
    line-height: 28px;
}

#table-white {
    color: white;
    text-align: center;
}

.table {
    margin-top: 100px;
    width: 24%;
    height: 200px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    float: left;
}

.table img {
    margin-bottom: 10px;
}

.table h1 {
    margin-bottom: 10px;
    font-size: 42px;
}

.table p {
    padding-bottom: 10px;
}

.table2 {
    width: 24%;
    height: 200px;
    border-right: 1px solid white;
    float: left;
}

.table2 img {
    margin-top: 30px;
    margin-bottom: 10px;
}

.table2 h1 {
    margin-bottom: 10px;
    font-size: 42px;
}

.table2 p {
    padding-bottom: 10px;
}
.table3 {
    margin-top: 100px;
    width: 24%;
    height: 200px;
    border-bottom: 1px solid white;
    float: left;
}

.table3 img {
    margin-bottom: 10px;
}

.table3 h1 {
    margin-bottom: 10px;
    font-size: 42px;
}

.table3 p {
    padding-bottom: 10px;
}

.table-nude {
    width: 24%;
    height: 200px;
    float: left;
}

.table-nude img {
    margin-top: 40px;
    margin-bottom: 10px;
}

.table-nude h1 {
    margin-bottom: 10px;
    font-size: 42px;
}

.table-nude p {
    padding-bottom: 10px;
}


footer {
    background-color: darkblue;
    height: 300px;
}

.fa-globe-europe {
    color: #32475a;
}
